

<%content_for:sidebar do%>
<h3>informacion de contacto</h3>
<p>Email : me@example.com</p>
<%end%>
<h1>New Visitante</h1>

<%= render 'form' %>



<%= link_to 'Back', visitantes_path %>
<%=mensaje1%>

